body {
	padding: 10px;
}

.error {
	background-color: tomato;
	color: white;
}

.message {
	background-color: green;
	color: white;
}

/*NAV*/
nav {
	font-size: 1.5em;
	background-color: blue;
	color: white
}
nav a {
	text-decoration: none;
	margin: 0.5em;
	margin-left: 0;
	color: white;
}

/*FORMS*/
.formWrap {
	min-width: 200px;
	max-width: 800px;
}
input[type='submit'] {
	border: 1px solid green;
	width: 100%;
	font-size: 1.25em;
	margin-top: 15px;
	font-weight: bold;
	letter-spacing: 1.5px;
	cursor: pointer;
	-webkit-appearance: button;
}	
input[type='text'] {
	width: 100%;
	text-align: left;
	font-size: 1em;
	margin-bottom: 15px;
}

.bubble {
	display: inline-block;
	font-size: 1.1em;
	background-color: green;
	color: white;
	border-radius: 50%;
	width: 1.2em;
	height: 1.2em;
	text-align: center;
}

.paddit {
	padding: 10px;
}

.even {
	background-color: #eeffe6
}
.odd {
	background-color: #ccf5ff
}