<h1>Avocado Now!</h1>
<h2>Profile</h2>

<h3>I've Confirmed <%=@user.thumbs.count%> places</h3>

<hr>
<h3>Places I've Added</h3>
<%@user.places.each do |place|%>
	<hr>
	<%=place.name%> <br>
	<%=place.address%> <br>
	<%=place.created_at.strftime("Avocados spotted at: %H:%M  %m/%d ")
	%> <br>
	<hr>
<%end%>
<hr>