<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/css/main.css">
	<title>Avocado Now!</title>
</head>
<body>

<nav>
	<a href="/">Home</a>
	<a href="/places">Avocado-Now</a>
	<%if @logged_out == true%>
		<a href="/users/login">login</a>
		<a href="/users/signup">signup</a>
	<%else%>
		<a href="/users/logout">logout</a>
	<%end%>
</nav>

<div class="flashMessages">
	<%if flash.include?(:error) %>
	  <h3 class="flash error"><%= flash[:error] %></h3>
	<% end %>
	<% if flash.include?(:message) %>
	  <h3 class="message"><%= flash[:message] %></h3>
	<% end %>
</div>

<%=yield%>

</body>
</html>