<h1>Avocado Now!</h1>
<h2>Make sure those beauties are ripe!</h2>

<form action="/places" method="POST">
	<input type="text" name="place[:name]">
	<input type="text" name="place[:address]">
	
	<input type="submit" value="Avocado Now!">
</form>
