<h1>Avocado Details</h1>

<%if @editable == true%>
	<a href="/places/<%=@place.id%>/edit">Edit</a>
<%end%>

<h3>Created at:</h3>
<h4><%=@place.updated_at%></h4>

<hr>

<h3>Name:</h3>
<h4><%=@place.name%></h4>

<hr>

<h3>Address:</h3>
<h4><%=@place.address%></h4>

<a href="/places">Return To Main Page</a>

